:root {
  --accent-color: #2196F3;
  --footer-address: #FFFFFF;
  --footer-mail-tel: #FFFFFF99;
  --header-dark-text: #212121;
  --main-background: #2F303A;
  --primary-text-color: #757575;
  --studio-secondary-text-color: #000000;
  --surname: #212121;
  --portfolio-secondary-text-color: #212121;
  --light-color: #FFFFFF;
  --icon-backgraund: #F5F4FA;
  --footer-backgraund: #2F303A;
  --icon-color: #AFB1B8;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1170px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .header {
    padding: 16px 0 16px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    min-height: 80px;
  }
}
.header .conteiner {
  display: flex;
  align-items: center;
}

.header-logo-web {
  font-size: 24px;
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-logo-web {
    font-size: 26px;
  }
}

.header-logo-studio {
  margin-right: 93px;
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--studio-secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .header-logo-studio {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo-web,
  .header-logo-studio {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo-web,
  .header-logo-studio {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-nav {
  display: none;
}

.site-nav {
  display: flex;
  margin-right: auto;
}
.site-nav li {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding: 32px 0;
  }
}

.studio {
  padding: 32px 0;
}

.site-nav__item {
  content: "";
  position: relative;
}
.site-nav__item .current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.site-nav__item .page::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect {
  margin-left: auto;
  display: flex;
  display: none;
}

.site-nav__tel,
.site-nav__mail {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__tel:hover, .site-nav__tel:focus,
.site-nav__mail:hover,
.site-nav__mail:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__tel,
  .site-nav__mail {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__tel,
  .site-nav__mail {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__tel {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__tel {
    margin-left: 50px;
    margin-top: 0;
  }
}

.site-nav__icon {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}

.icon-menu-open {
  border: 0;
  background-color: transparent;
  margin-left: auto;
}
.icon-menu-open:hover, .icon-menu-open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .icon-menu-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu .conteiner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-menu-close {
  display: block;
  border: 0;
  background-color: transparent;
  margin-left: auto;
  margin-right: 15px;
}
.icon-menu-close:hover, .icon-menu-close:focus {
  fill: var(--accent-color);
}

.site-nav-mob__link {
  display: block;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--header-dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-mob__link:hover, .site-nav-mob__link:focus {
  color: var(--accent-color);
  text-align: center;
}

.site-nav-mob__item:not(:first-child) {
  margin-top: 32px;
}

.site-nav-mob__mail {
  margin-bottom: 64px;
}

.site-nav-mob__tel {
  margin-bottom: 32px;
}

.site-nav-mob__tel,
.site-nav-mob__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-mob__tel:hover, .site-nav-mob__tel:focus,
.site-nav-mob__mail:hover,
.site-nav-mob__mail:focus {
  color: var(--accent-color);
  font-size: 34px;
}

.link_Instagram,
.link_Twitter,
.link_Facebook,
.link_LinkedIn {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.link_Instagram {
  padding-right: 10.5px;
}

.link_Twitter,
.link_Facebook {
  padding-right: 10.5px;
  padding-left: 9.5px;
}

.link_LinkedIn {
  padding-left: 9.5px;
}

.mob-soc-list {
  display: flex;
  position: relative;
}

.divider {
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .header-nav,
  .header-connect {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav,
  .header-connect {
    display: flex;
    gap: 24px;
  }
}

.main {
  background-color: var(--main-background);
  padding: 50px 0 50px 0;
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .main {
    padding: 118px 0 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    padding: 200px 0 200px 0;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-480.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-480-2x.jpeg);
  }
}
@media screen and (min-width: 480px) {
  .overlay {
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-480.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-480-2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-768-2x.jpeg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-2x.jpeg);
  }
}

.main-title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  font-family: Roboto;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .main-title {
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
  }
}

.main-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-family: inherit;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .main-btn {
    padding: 10px 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .main-btn {
    padding: 10px 32px;
    font-size: 16px;
  }
}

.advantages {
  padding: 15px 0 15px 0;
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .advantages {
    padding: 60px 0 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: -30px;
  }
}
.advantages-list li {
  width: 100%;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 479.99px) {
  .advantages-list li:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) {
  .advantages-list li {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list li {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list li {
    width: calc(25% - 30px);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-list li:nth-child(2),
  .advantages-list li:nth-child(4) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list li:last-child {
    margin-right: 0;
  }
}

.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--portfolio-secondary-text-color);
}
@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }
}

.icon-link {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 480px) {
  .icon-link {
    width: 100%;
    margin-bottom: 30px;
  }
}

.advantages-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}

.branch {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .branch {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.branch h2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--portfolio-secondary-text-color);
}

.branch__list {
  display: flex;
}

.branch__img {
  margin-right: 30px;
}
@media screen and (min-width: 1200px) {
  .branch__img:last-child {
    margin-right: 0;
  }
}

.branch__conteiner {
  position: relative;
}

.branch-card__title {
  content: "";
  position: absolute;
  bottom: 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.team {
  background: var(--icon-backgraund);
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team h2 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--portfolio-secondary-text-color);
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .team h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.team__list > li {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__list > li {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team__list > li {
    width: calc(25% - 30px);
  }
}

.team-item__surname {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--surname);
}

.team-item__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-soc-list {
    padding-bottom: 30px;
  }
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--icon-backgraund);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: var(--icon-color);
}
.team-soc-link:hover .team-soc-icon {
  fill: var(--light-color);
}

.team-soc-item {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

.clients {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients h2 {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--portfolio-secondary-text-color);
  font-size: 20px;
  line-height: 1.18;
  margin-bottom: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .clients h2 {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients h2 {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients-list__link {
  height: 92px;
  width: 270px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .clients-list__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients-list__link {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__list {
  display: flex;
}
@media screen and (max-width: 479.99px) {
  .clients__list {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    justify-content: space-between;
  }
}

.clients-list__iteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .clients-list__iteam {
    width: calc(50% - 30px);
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients-list__iteam {
    width: calc(33.3333333333% - 30px);
    box-sizing: border-box;
  }
}

.clients-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__icon:hover, .clients-list__icon:focus {
  fill: var(--accent-color);
}

.footer-color {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-backgraund);
}
@media screen and (min-width: 1200px) {
  .footer-color {
    display: block;
  }
}

.footer-logo-web {
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: left;
  color: var(--accent-color);
}

.footer-logo-studio {
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: left;
  color: var(--light-color);
}

.footer-address {
  display: inline-block;
  margin-top: 20px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  font-style: normal;
  color: var(--footer-address);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail, .footer-tel {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  font-style: normal;
  color: var(--footer-mail-tel);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-mail, .footer-tel {
    margin-top: 9px;
  }
}

.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.contact-wrap .conteiner {
  display: block;
}
@media screen and (min-width: 1200px) {
  .contact-wrap .conteiner {
    display: flex;
  }
}

.footer-soc-title,
.footer-newsletter-title {
  font-family: Roboto, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-soc-title,
  .footer-newsletter-title {
    text-align: left;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-soc-title {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc-title {
    margin-top: 0;
  }
}

.footer-soc-sectio {
  padding-left: 75px;
}

@media screen and (max-width: 1199.98px) {
  .footer-contacts {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-contacts {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}

.footer-soc-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc-list {
    justify-content: left;
  }
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--light-color);
}

.footer-soc-list li:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-newsletter {
    margin-left: 93px;
  }
}

.footer-newsletter-window {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-newsletter-window {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-newsletter-window {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-btn {
  display: block;
  padding: 10px 28px 10px 30.5px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
  background-color: rgb(33, 150, 243);
  border-radius: 4px;
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    margin: 0;
    display: inline-flex;
  }
}

.footer-wrapper {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-soc-section {
    margin-right: 89px;
  }
}

.icon-newsletter {
  justify-content: center;
  align-items: center;
  fill: currentColor;
  margin-left: 12.5px;
}

.footer-newsletter form {
  display: block;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-newsletter form {
    display: flex;
  }
}

.conteiner-portfolio {
  width: 1170px;
  margin: 0 auto;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio > .conteiner {
  padding-left: 0;
  padding-right: 0;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.portfolio__filter ul {
  display: flex;
  justify-content: center;
}

.portfolio-filter__iteam:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
}

.portfolio button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--portfolio-secondary-text-color);
  background-color: var(--icon-backgraund);
}

.portfolio-filter__iteam button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__iteam button:hover,
.portfolio-filter__iteam button:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: 6px 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-conteiner {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.portfolio h2 {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--portfolio-secondary-text-color);
}

.portfolio-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
}

.flex-element:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card:hover .card-action {
  opacity: 1;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card:hover .card-action {
  opacity: 1;
}

.card-action-title {
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.56;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-action-title {
  transform: translateY(0);
}

.card-action-title:hover,
.card-action-title:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .x-icon, .modal-close-btn:focus .x-icon {
  fill: var(--accent-text-color);
}

.x-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--studio-secondary-text-color);
  margin-bottom: 11px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 35px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .input-icon, .modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  resize: none;
  outline: none;
}
.modal-comment:focus, .modal-comment:hover {
  border-color: var(--accent-color);
}
.modal-comment:focus::placeholder, .modal-comment:hover::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.submit {
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 0;
  border-radius: 4px;
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--light-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  color: rgb(117, 117, 117);
}

.modal-contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 8px;
}

.link-contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-contract-checkbox {
  display: flex;
  align-items: center;
  fill: transparent;
}
.modal-contract-checkbox span {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-check:checked + .modal-contract-checkbox span {
  background-color: var(--accent-color);
  background-image: none;
  border-radius: 2px;
}

.input-check:checked + .modal-contract-checkbox .check-icon {
  fill: var(--light-color);
}/*# sourceMappingURL=main.css.map */