.advantages {
    padding: 15px 0 15px 0;

    @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    padding: 60px 0 60px 0;
    }
    @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
    }
}

.advantages-list {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: -30px;

    }
    li {
    width: 100%;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 479.99px) {
    &:last-child {
    margin-bottom: 0;
    }
    }
    @media screen and (min-width: 480px) {
    width: 100%;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-bottom: 30px;
    }
}
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    li:nth-child(2),
    li:nth-child(4) {
    margin-right: 0;
    }
}

    @media screen and (min-width: 1200px) {
    li:last-child {
    margin-right: 0;
    }
}
}

.advantages-title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--portfolio-secondary-text-color);
    @media screen and (min-width: 768px) {
    text-align: left;
    }
}

.icon-link {
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    @media screen and (min-width: 480px) {
    width: 100%;
    margin-bottom: 30px;
    }
    // @media screen and (min-width: 768px) {
    // width: 100%;
    // margin-bottom: 30px;
    // }
    // @media screen and (min-width: 1200px) {
    // width: 100%;
    // margin-bottom: 30px;
    // }
}

.advantages-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--primary-text-color);
}