:root {
    --accent-color: #2196F3;
    --footer-address: #FFFFFF;
    --footer-mail-tel: #FFFFFF99;
    --header-dark-text: #212121;
    --main-background: #2F303A;
    --primary-text-color: #757575;
    --studio-secondary-text-color: #000000;
    --surname: #212121;
    --portfolio-secondary-text-color: #212121;
    --light-color: #FFFFFF;
    --icon-backgraund: #F5F4FA;
    --footer-backgraund: #2F303A;
    --icon-color: #AFB1B8;
}